*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: "Lobster", serif;
}
.navbar-brand-hover{
    color: black;
}
.nav-link{
    text-transform: uppercase;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Rubik", serif;
}
.nav-link-hover{
    color: black;
}
.search{
    font-family: "Rubik", serif;
     height: 40px;
     width: 80%;
     border-radius: 60px;
     outline: none;
     border: 2px solid red;
     margin-right: -35px;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}
.main{
    background-image: url(./img/pexels-the-5th-50003-179912.jpg);
    background-size: cover;  /* Image ko har screen par fit karne ke liye */
    background-position: center; /* Center pe adjust karne ke liye */
    background-repeat: no-repeat; /* Repeat na ho */
    min-height: 100vh; /* Choti screens pe bhi adjust ho */
    display: flex; 
    align-items: center; /* Content ko center align karne ke liye */
    padding: 10px; 
}
.main h1 {
     font-size: 4rem;
     font-weight: 700;
     background: #B7DEED;
     background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}
.btn1{
    height: 45px;
    width: 50%;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    margin-bottom: 10px;
    
}
.btn1:hover{
    background-color: rgb(241, 96, 96); 
    transition: 0.5s;
}
.card:hover{
    box-shadow: -2px -1px 25px -8px rgba(0,0,0,0.74);
    -webkit-box-shadow: -2px -1px 25px -8px rgba(0,0,0,0.74);
    -moz-box-shadow: -2px -1px 25px -8px rgba(0,0,0,0.74);
    transition: 0.5s;
}
.apple{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(./img/Apple-img.jpg) no-repeat;
    background-size: cover;
    background-position: center; /* Center pe adjust karne ke liye */
    background-repeat: no-repeat; /* Repeat na ho */
    min-height: 100vh; /* Choti screens pe bhi adjust ho */
    display: flex; 
    align-items: center; /* Content ko center align karne ke liye */
}
.apple h1{
    font-family: "Lobster", serif;
}
.news{
    background-color: rgb(64, 64, 64);
    color: white;

}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: solid white;
    font-weight: 600;
}
.news input{
     height: 45px;
     width: 55%;
     border: 2px solid white;
     outline: none;
     background: rgb(54, 51, 51);
     color: white;
     margin-top: 20px;
     font-weight: 600;
}
.news ::placeholder{
    color: white;
}
.news p{
    color: rgb(162, 162, 162);
   margin: 0;
}
.blur-filter{
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.47);
}